body {
	font-family: Calibri, Consolas, sans-serif;
}

div.content {
	width: 1280px;
	margin: auto;
}

@media screen and (max-width: 1600px) {
	div.content {
		width: 85%;
	}
}

@media screen and (max-width: 800px) {
	div.content {
		width: 98%;
	}
}


@media screen and (max-width: 705px) {
	canvas {
		width: 85vw;
		height: 85vw;
	}
}