body {
	font-family: Calibri, Consolas, sans-serif;
}

div.content {
	width: 1280px;
	margin: auto;
}

div.canvas-container {
	width: 450px;
	margin: auto;
}

input {
	margin: 0.5%;
	margin-top: 10px;
}

input.slider {
	width: 100%
}

@media screen and (max-width: 1600px) {
	div.content {
		width: 85%;
	}
}

@media screen and (max-width: 800px) {
	div.content {
		width: 98%;
	}
}

canvas {
	display: block;
	margin: auto;
	width: 100%;
	height: 150px; /* One third the width */
	border: green solid 1px;
}

@media screen and (max-width: 705px) {
	div.canvas-container {
		width: 84vw;
	}

	canvas {
		height: 28vw;
	}
}